<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @device.number %>
</p>

<p>
  <b>Name:</b>
  <%= @device.name %>
</p>

<p>
  <b>Address:</b>
  <%= @device.address %>
</p>


<%= link_to 'Edit', edit_device_path(@device) %> |
<%= link_to 'Back', devices_path %>
